[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "rpavlik-cmake-modules"]
	path = rpavlik-cmake-modules
	url = https://github.com/rpavlik/cmake-modules.git
